@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #dff6ff;
}
h1{
    padding-top: 4vh;
    font-family: 'Oxanium';
    text-align: center;
    font-size: 5vh;
    color: #FF0053;
}
.borders{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}
.border-one{
    width: 70vh;
    height: 60vh;
    border: 1px solid black;
    position: absolute;
}
.input-field-parent{
    display: flex;
    justify-content: center;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-family: 'Oxanium';
    text-align: center;
    text-transform: uppercase;
    background-color: #dff6ff;
    color: #FF0053;
    margin-top: 15%;
    outline: none;
    transition: 150ms ease-in-out;
    user-select: none;
}
.input-field:hover{
    border-bottom: 2px solid black;
    cursor: text;
}
.input-field:focus{
    border-bottom: 2px solid #FF0053;
}
input:hover::placeholder{
    color: black;
}
input:focus::placeholder{
    opacity: 0;
}
input::placeholder{
    font-size: 20px;
    text-transform: none ;
}

.pswd-field-parent{
    display: flex;
    justify-content: center;
}
.pswd-field{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-family: 'Oxanium';
    text-align: center;
    text-transform: uppercase;
    background-color: #dff6ff;
    color: #FF0053;
    margin-top: 15%;
    outline: none;
    transition: 150ms ease-in-out;
    user-select: none;
}
.pswd-field:hover{
    border-bottom: 2px solid black;
    cursor: text;
}
.pswd-field:focus{
    border-bottom: 2px solid #FF0053;
}

.submit{
    position: absolute;
    margin-top: 15%;
    margin-left: 32%;
    -webkit-appearance: none;
    background-color: #dff6ff;
    border: 0.8px solid #FF0053;
    color: #FF0053;
    font-size: 22px;
    text-align: center;
    font-family: 'oxanium';
    width: 25vh;
    height: 6vh;
    transition: 100ms ease-in-out;
}
.submit:hover{
    background-color: #FF0053;
    color: #ffffff;
    font-family: 'oxanium';
    cursor: pointer;
}
.submit:focus{
    background-color: #a10036;
    border: 0.8px solid #a10036;
}