body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232425;
}
a:link{
    color: #00DCFF;
    text-decoration: none;
    -webkit-user-drag: none;
}
a:hover{
    color: #FFFFFF;
}
a:visited{
    color: #00DCFF;
}
a:active{
    outline: none;
    color: #378dff;
}
.header-one{
    /* border: 1px solid #FFFFFF; */
    width: 100%;
    height: 4vh;
}
.logo{
    /* border: 1px solid white; */
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    margin-left: 40px;
}
.action{
    position: fixed;
    top: 50px;
    right: 40px;
}
.action .profile{
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
}
.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 0px;
    background: #00373f;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 250ms;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #00373f;
    transform: rotate(45deg);
}
.action .menu ul li{
    list-style: none;
    padding: 10px 0px;
    display: flex;
    font-family: 'Oxanium';
    font-size: 20px;
    align-items: center;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 250ms;
}
.action .menu ul li:hover img{
    opacity: 1;
}
.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 250ms;
}
.action .menu ul li:hover a{
    color: #00DCFF;
}


.search_container{
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    width: fit-content;
    margin-left: 800px;
    margin-top: -100px;
}
.search{
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #FFFFFF;
    font-size: 30px;
    font-family: 'Oxanium';
    color: #00DCFF;
    text-transform: lowercase;
    outline: none;
    caret-color: #00DCFF;
    width: 400px;
    transition: 250ms ease-in-out;
}
.search:hover{
    border-bottom: 1px solid #00DCFF;
}
.search:focus{
    border-bottom: 3px solid #00DCFF;
}
input::placeholder{
    font-size: 22px;
    text-transform: none;
    font-family: 'Oxanium';
    color: white;
}

.card-menu{
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 0fr));
    grid-gap: 50px;
    list-style-type: none;
    margin-left: 400px;
    margin-top: -600px;
}
.card{
    text-align: center;
    font-family: 'oxanium';
    text-decoration: none;
    font-size: 2.4vmin;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #00DCFF;
    width: 250px;
    height: 180px;
    border-radius: 1vh;
    transition: 250ms ease-in-out;
}
.card:hover{
    border: 4px solid #00373f;
    background-color: #00373f;
}
.sidebar{
    /* border: 1px solid white; */
    margin-top: 250px;
    margin-left: 50px;
    width: fit-content;
}

.crd{
    display: flex;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 200px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 50px;
    font-family: 'Oxanium';
    font-size: 24px;
    transition: 200ms ease-in-out;
    
}
.crd:hover{
    background-color: #002e6346;
    border: 1px solid #4e4e4e;
    border-radius: 12px;
}

/* .jk{
    position: absolute;
    top: 100px;
    left: 200px;
} */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    top: 290px;
    left: 825px;
    height: 600px;
    width: 470px;
    z-index: 9;
    border-radius: 7px;
    border: 2px solid #dadce0;
    background-color: #001c20;
}
.head{
    border-radius: 4px;
    cursor: default;
    background-color: #001c20;
    color: #00DCFF;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 40px;
    font-family: 'oxanium' ;
}
.box{
    position: relative;
    top: 28px;
    left: 30px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #003841;
    color: #FFFFFF;
    font-family: 'Oxanium';
    font-size: 24px;
    display: block;
    width: 405px;
    height: 36px;
    line-height: 24px;
    margin: 0;
    min-width: 0%;
    outline: none;
    padding: 1px;
    margin-bottom: 10px;
    z-index: 0;
}
.box1{
    position: relative;
    top: 58px;
    left: 30px;
    background-color: transparent;
    border: 2px solid #00373f;
    border-radius: 4px;
    display: block;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Oxanium';
    resize: none;
    height: 120px;
    line-height: 24px;
    outline: none;
    padding: 1px;
    z-index: 0;
    width: 405px;
    max-width: 405px;
}
::placeholder{
    color: #FFFFFF;
    font-family: 'Oxanium';
}
.btn{
    position: relative;
    top: 90px;
    left: 100px;
    height: 40px;
    width: 100px;
    background-color: #00DCFF;
    border: 1px solid #003841;
    border-radius: 4px;
    font-family: 'Oxanium';
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
}
.back{
    font-family: 'Oxanium';
    font-size: 16px;
    position: relative;
    top: 90px;
    left: 140px;
    height: 40px;
    width: 100px;
    background-color: #00DCFF;
    border: 1px solid #003841;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing:2px;
}

/* Add styles to the form container */
/* .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
} */

/* Full-width input fields */
/* .form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
/* .form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/login button */
/* .form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
} */

/* Add a red background color to the cancel button */
/* .form-container .cancel {
  background-color: red;
} */

/* Add some hover effects to buttons */
/* .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}  */