body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232425;
}
.header-one{
    border: 1px solid transparent;
    width: 100%;
    height: 4vh;
}
.abt{
    /* border: 1px solid white; */
    width: fit-content;
    margin-left: 100rem;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Oxanium';
    font-size: 20px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
a:hover{
    color: #00DCFF;
}
.cts{
    /* border: 1px solid white; */
    width: fit-content;
    margin-left: 110rem;
    margin-top: -1.67rem;
}
.logo{
    line-break: auto;
    width: 12rem;
    min-width: 12rem;
    max-width: 12rem;
    margin-left: 4vh;
    margin-top: -3vh;
}
.table{
    color: white;
    position: relative;
    left:580px;
    border: none;
}
.block{
    font-size: 24px;
    outline: none;
    width: 100px;
    border-radius: 4px;
    width: fit-content;
}